*.ini
.cache/
venv
src/publisher/parse/parser.hh
src/publisher/parse/parser.cc
src/publisher/parse/location.hh
.codex
tmp
AGENTS.md
src/compiler/subprojects/.wraplock
src/compiler/subprojects/approvaltests/
src/compiler/subprojects/packagecache/
src/compiler/tests/**/*.received.*

src/plugin/tests/subprojects/.wraplock
src/plugin/tests/subprojects/approvaltests/
src/plugin/tests/subprojects/packagecache/
src/plugin/tests/fixtures/**/*.received.*
